* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1rem 0rem;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px 100px;
    
}

.nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: right;
    gap: 200px;
    flex: 1 1 0;
}

.nav-menu a {
    text-decoration: none;
}

.time-line-content-second {
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.time-line-content-second > img {
    outline: 3px solid red;
}
.time-line-content-second > p {
    outline: 3px solid green;
}