*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.tid-box, .börja-box {
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.250);
    align-content: center;
    text-align: center;
    border-radius: 20px;
    right: 50%;
    top: 50%;
    transform: (100%, 100%)
}   
