body {
    background-color: #0b0b38;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    gap: 40px;
}

.kläder {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    gap: 20px; 
}

.tröja, .jeans, .skor {
    text-align: center;
    font-family: Arial, sans-serif;
}

.tröja-box, .jeans-box, .skor-box {
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    width: 200px;  
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.slumpa-btn {
    display: flex;
    justify-content: center;
    padding: 40px;
}

/* Jag använder # för att det är ett id jag jobbar med*/
#slumpa-knapp {
    padding: 20px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 15px;
}

#slumpa-knapp:hover {
    transform: translateY( -5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

@media (min-width: 768px) {
    body {
        gap: 100px;
    }

    .kläder {
        flex-direction: row;
    }
}