*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Bilder/spacegoon.jpg');
    background-size: cover;
}

.glass-container {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.639);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.login-box {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #fff;
    margin-top: 30px;
    margin-bottom: -10px;
}

form p{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 15px;
}

input {
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}

input::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.options input {
    margin-right: 5px;
    margin-top: 0px;
}

.options a {
    text-decoration: none;
    color: white;
    margin-left: auto;
}

button {
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: 2px solid #fff;
}

#register {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}