*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: left;
    margin-left: 200px;
    align-items: center;
    height: 100vh;
    background-image: url('Bilder/p3psdeaq6vx81.png');
    background-size: cover;
}

.register-glass-box, .login-glass-box {
    width: 300px;
    height: 300px;
    position: relative;
    background: rgba(0, 0, 0, 0.639);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #ffffff;
    margin-right: 10px;

}

.register-box, .login-box {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}


h2 {
    color: #fff;
    margin-top: 30px;
    margin-bottom: -10px;
}

form p{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 15px;
}

input {
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
}

input::placeholder {
    color: #ffffff;
}

input:focus {
    outline: none;
}


button {
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: 2px solid #fff;
}