p {
    color: white;
    font-size: 20px
}
h1 {
    color: white
}
nav {background-color: rgb(91, 178, 62);
color: white;
justify-content: space-between;
padding: 0 10px;
position: fixed;
top: 0;
width: 100%;
display: flex;
}
.Bild {
    background-image: url(Bilder/RealGymnasiet1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}
ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
height: 100%;
}
ul li {
margin-right: 30px;
}
main {
background-color: white;
height: 300vh;
}