main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 50%;
    margin: auto;
}

.Bild {
    text-align: center;
}

body {
    background-color: #212121;
}

.Rubrik {
    grid-column: 1 / -1;
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
}

p{
    margin-top: 0;
}

.Text {
    background-color: #212121;
    color: white;
    width: 180%
}

